<div class="relative w-full">
    <% img = "https://image.tmdb.org/t/p/w200#{@movie_json["poster_path"]}" %>
    <% back_img = "https://image.tmdb.org/t/p/w200#{@movie_json["backdrop_path"]}" %>

    <!-- Background Image -->
    <img class="w-full h-auto object-cover" src="<%= back_img %>" alt="Backdrop">

    <!-- Overlay Content -->
    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center p-4">
        <!-- Poster Image -->
        <img class="w-40 h-auto object-cover rounded-md shadow-lg" src="<%= img %>" alt="Poster">

        <!-- Movie Details -->
        <div class="ml-4 text-white max-w-lg">
            <h2 class="text-red-500 text-4xl font-bold mb-2"><%= @movie_json["original_title"] %></h2>
            <p class="text-white text-base leading-relaxed text-justify bg-black bg-opacity-50 p-4 rounded-md shadow-lg">
    <%= @movie_json["overview"] %>
</p>

        </div>
    </div>
</div>

<!-- New Container to Clear Absolute Positioning -->
<div class="clear-both pt-6 bg-pink-300">
    <p>Runtime: <%= @movie_json["runtime"] %> minutes</p>
    <p>Status: <%= @movie_json["status"] %></p>
    <p>IMDB ID: <%= @movie_json["imdb_id"] %></p>
    <p>TMDB ID: <%= @movie_json["id"] %></p>
    <p>Vote Average: <%= @movie_json["vote_average"] %></p>
    <p>Vote Count: <%= @movie_json["vote_count"] %></p>
</div>

<%# Review starts here %>
<h2 class="text-blue-700 text-center">Reviews for <%= @movie_json["original_title"]%> </h2>
<%@reviews_saved.each do |review|%>
   <div class="bg-green-300 mb-2 text-justify"> name:<%=review.user_id%> <br>
    content:<%=review.comment%> <br>
    rating:<%=review.rating%> <br> <br>
    </div>
<%end%>

<%@reviews_json.each do |review|%>
   <div class="bg-green-300 mb-2"> name:<%=review["author"]%> <br>
    content:<%=review["content"]%> <br>
    rating:<%=review["author_details"]["rating"]%> <br> <br>
    </div>
<%end %>

<%# simple form for %>



<h1>Add Review</h1>
<%# <div class="bg-yellow-400 flex justify-center"> %>
    <%= form_with(model: @user, url: movies_path) do |f| %>
    <div class="field">
        <%= f.label :movie_id,"Movie Id:" %>
        <%= f.number_field :movie_id,readonly:true, value:@movie_id %>
    </div>
    <div class="field">
        <%= f.label :user_id,"User Id:" %>
        <%= f.number_field :user_id %>
    </div>

    <div class="field">
        <%= f.label :comment,"Comment:" %>
        <%= f.text_field :comment %>
    </div>

    <div class="field">
        <%= f.label :rating,"Rating (0-10):"%>
        <%= f.range_field :rating, min:0, max:10, step:1, class:"slider",oninput: "document.getElementById('ratingValue').innerHTML=this.value" %>
        <span id="ratingValue"></span>
    </div>

    <div class="actions border-white">
        <%= f.submit 'Submit Review',class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    </div>
    <% end %>
<%# </div> %>